<?xml version="1.0" encoding="UTF-8"?>
<steamparserconfig>
	<database>
		<driver name="org.postgresql.Driver" />
		<address uri="jdbc:postgresql://pvr/hl2stats" />
		<user name="hl2stats" pw="hl2stats" />
		<bitFixes pre="B'" post="'" />
		<sequence call="SELECT nextval('s_session')" />
		<create file="createDB_postgresql.sql" />
	</database>
	<database>
		<driver name="org.hsqldb.jdbcDriver" />
		<address uri="jdbc:hsqldb:hsql://localhost/hl2stats" />
		<user name="sa" pw="" />
		<bitFixes pre="" post="" />
		<sequence call="CALL NEXT VALUE FOR s_session" />
		<create file="createDB_hsql.sql" />
	</database>
	<gui
		default="D:\Steam\steamapps\janiwe\counter-strike source\cstrike\logs" />
	<logs type="cs" path="c:\temp\hl2logs\cs" />
	<logs type="hl2dm" path="c:\temp\hl2logs\hl2dm" />
	<udplogger port="65100" gametype="cs" notifypattern="server_message: &quot;quit&quot;" writelogfile="true"/>
	<udplogger port="65200" gametype="hl2dm" notifypattern="server_message: &quot;quit&quot;" writelogfile="true"/>
</steamparserconfig>