/* ************************************************ */
	/* ********** Standard-Navgation ****************** */
.standardNavigation {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #A0B0FF;
}

.standardNavigation a:link {
	text-decoration: none;
	color: #A0B0FF;
}

.standardNavigation a:visited {
	text-decoration: none;
	color: #A0B0FF;
}

.standardNavigation a:hover {
	text-decoration: none;
	color: #D2072D;
}

.standardNavigation a:active {
	text-decoration: none;
	color: #A0B0FF;
}

/* ************************************************ */
	/* ********** Breadcrumb-Navgation **************** */
.breadcrumb {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #FFFFFF;
	background-color: #094392;
}

.breadcrumb a:link {
	text-decoration: none;
	color: #FFFFFF;
}

.breadcrumb a:visited {
	text-decoration: none;
	color: #FFFFFF;
}

.breadcrumb a:hover {
	text-decoration: none;
	color: #FFFFFF;
}

.breadcrumb a:active {
	text-decoration: none;
	color: #FFFFFF;
}

/* ************************************************ */
	/* ********** vertikale Navigation **************** */
	/* ************************************************ */
	/* ********** 1.Navigationsebene aktiv ************ */
.navigationEbene1Aktiv {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #A0B0FF;
	padding-top: 6px;
	padding-bottom: 6px;
	background-color: #A0B0FF;
}

.navigationEbene1Aktiv a:link {
	text-decoration: none;
	color: #A0B0FF;
}

.navigationEbene1Aktiv a:visited {
	text-decoration: none;
	color: #A0B0FF;
}

.navigationEbene1Aktiv a:hover {
	text-decoration: none;
	color: #A0B0FF;
}

.navigationEbene1Aktiv a:active {
	text-decoration: none;
	color: #A0B0FF;
}

/* ************************************************ */
	/* ********** 1.Navigationsebene inaktiv ********** */
.navigationEbene1Inaktiv {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #333333;
	padding-top: 6px;
	padding-bottom: 6px;
	background-color: #E9E9E9;
}

.navigationEbene1Inaktiv a:link {
	text-decoration: none;
	color: #333333;
}

.navigationEbene1Inaktiv a:visited {
	text-decoration: none;
	color: #333333;
}

.navigationEbene1Inaktiv a:hover {
	text-decoration: none;
	color: #A0B0FF;
}

.navigationEbene1Inaktiv a:active {
	text-decoration: none;
	color: #333333;
}

/* ************************************************ */
	/* ********** 2.Navigationsebene aktiv ********** */
.navigationEbene2Aktiv {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #A0B0FF;
	padding-top: 6px;
	padding-bottom: 6px;
	background-color: #D6EFDF;
}

.navigationEbene2Aktiv a:link {
	text-decoration: none;
	color: #A0B0FF;
}

.navigationEbene2Aktiv a:visited {
	text-decoration: none;
	color: #A0B0FF;
}

.navigationEbene2Aktiv a:hover {
	text-decoration: none;
	color: #A0B0FF;
}

.navigationEbene2Aktiv a:active {
	text-decoration: none;
	color: #A0B0FF;
}

/* ************************************************ */
	/* ********** 2.Navigationsebene inaktiv ********** */
.navigationEbene2Inaktiv {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #333333;
	padding-top: 6px;
	padding-bottom: 6px;
	background-color: #D6EFDF;
}

.navigationEbene2Inaktiv a:link {
	text-decoration: none;
	color: #333333;
}

.navigationEbene2Inaktiv a:visited {
	text-decoration: none;
	color: #333333;
}

.navigationEbene2Inaktiv a:hover {
	text-decoration: none;
	color: #A0B0FF;
}

.navigationEbene2Inaktiv a:active {
	text-decoration: none;
	color: #333333;
}

/* ************************************************ */
	/* ********** 3.Navigationsebene aktiv ************ */
.navigationEbene3Aktiv {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #A0B0FF;
	padding-top: 6px;
	padding-bottom: 6px;
	background-color: #EEFAF0;
}

.navigationEbene3Aktiv a:link {
	text-decoration: none;
	color: #A0B0FF;
}

.navigationEbene3Aktiv a:visited {
	text-decoration: none;
	color: #A0B0FF;
}

.navigationEbene3Aktiv a:hover {
	text-decoration: none;
	color: #A0B0FF;
}

.navigationEbene3Aktiv a:active {
	text-decoration: none;
	color: #A0B0FF;
}

/* ************************************************ */
	/* ********** 3.Navigationsebene inaktiv ********** */
.navigationEbene3Inaktiv {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #333333;
	padding-top: 6px;
	padding-bottom: 6px;
	background-color: #EEFAF0;
}

.navigationEbene3Inaktiv a:link {
	text-decoration: none;
	color: #333333;
}

.navigationEbene3Inaktiv a:visited {
	text-decoration: none;
	color: #333333;
}

.navigationEbene3Inaktiv a:hover {
	text-decoration: none;
	color: #A0B0FF;
}

.navigationEbene3Inaktiv a:active {
	text-decoration: none;
	color: #333333;
}

/* ************************************************ */
	/* ********** Content-Navigation ****************** */
	/* ************************************************ */
	/* ********** Content-Navigation aktiv ************ */
.contentNavigationAktiv {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #A0B0FF;
	background-color: #A0B0FF;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.contentNavigationAktiv a:link {
	text-decoration: underline;
	color: #A0B0FF;
}

.contentNavigationAktiv a:visited {
	text-decoration: underline;
	color: #A0B0FF;
}

.contentNavigationAktiv a:hover {
	text-decoration: underline;
	color: #A0B0FF;
}

.contentNavigationAktiv a:active {
	text-decoration: underline;
	color: #A0B0FF;
}

/* ************************************************ */
	/* ********** Content-Navigation inaktiv ********** */
.contentNavigationInaktiv {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #333333;
	background-color: #D6EFDF;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.contentNavigationInaktiv a:link {
	text-decoration: underline;
	color: #333333;
}

.contentNavigationInaktiv a:visited {
	text-decoration: underline;
	color: #333333;
}

.contentNavigationInaktiv a:hover {
	text-decoration: underline;
	color: #A0B0FF;
}

.contentNavigationInaktiv a:active {
	text-decoration: underline;
	color: #333333;
}

/* ************************************************ */
	/* ********** Sitemap ***************************** */
	/* ************************************************ */
	/* ********** 1.Sitemapebene ********************** */
.sitemapEbene1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #A0B0FF;
	padding-top: 6px;
	padding-bottom: 6px;
	background-color: #A0B0FF;
	text-decoration: underline;
}

.sitemapEbene1 a:link {
	text-decoration: underline;
	color: #A0B0FF;
}

.sitemapEbene1 a:visited {
	text-decoration: underline;
	color: #A0B0FF;
}

.sitemapEbene1 a:hover {
	text-decoration: underline;
	color: #A0B0FF;
}

.sitemapEbene1 a:active {
	text-decoration: underline;
	color: #A0B0FF;
}

/* ************************************************ */
	/* ********** 2.Sitemapebene ********************** */
.sitemapEbene2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #A0B0FF;
	padding-top: 6px;
	padding-bottom: 6px;
	background-color: #D6EFDF;
	text-decoration: underline;
}

.sitemapEbene2 a:link {
	text-decoration: underline;
	color: #A0B0FF;
}

.sitemapEbene2 a:visited {
	text-decoration: underline;
	color: #A0B0FF,
}

.sitemapEbene2 a:hover {
	text-decoration: underline;
	color: #A0B0FF;
}

.sitemapEbene2 a:active {
	text-decoration: underline;
	color: #A0B0FF;
}

/* ************************************************ */
	/* ********** 3.Sitemapebene ********************** */
.sitemapEbene3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #A0B0FF;
	padding-top: 6px;
	padding-bottom: 6px;
	background-color: #EEFAF0;
	text-decoration: underline;
}

.sitemapEbene3 a:link {
	text-decoration: underline;
	color: #A0B0FF;
}

.sitemapEbene3 a:visited {
	text-decoration: underline;
	color: #A0B0FF,
}

.sitemapEbene3 a:hover {
	text-decoration: underline;
	color: #A0B0FF;
}

.sitemapEbene3 a:active {
	text-decoration: underline;
	color: #A0B0FF;
}

/* ************************************************ */
	/* ********** Combobox-Navigation ***************** */
	/* ************************************************ */
	/* ********** Beschriftung Combobox *************** */
.labelNavigationCombobox {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #333333;
}

/* ************************************************ */
	/* ********** Reiter-Navgation ******************** */
	/* ************************************************ */
	/* ********** Reiter ausgewählt ******************* */
.reiterAusgewaehlt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #333333;
	background-color: #E9E9E9;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 5px;
	padding-right: 6px;
}

/* ************************************************ */
	/* ********** Reiter aktiv ************************ */
.reiterAktiv {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #333333;
	background-color: #D0DCFF;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 5px;
	padding-right: 6px;
}

.reiterAktiv a:link {
	text-decoration: none;
	color: #333333;
}

.reiterAktiv a:visited {
	text-decoration: none;
	color: #333333;
}

.reiterAktiv a:hover {
	text-decoration: none;
	color: #D2072D;
}

.reiterAktiv a:active {
	text-decoration: none;
	color: #333333;
}

/* ************************************************ */
	/* ********** Reiter inaktiv ********************** */
.reiterInaktiv {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #84C9A2;
	background-color: #D0DCFF;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 5px;
	padding-right: 6px;
}

/* ************************************************ */
	/* ********** Randbegrenzung für Reiter *********** */
.reiterLinie {
	background-color: #A0B0FF;
}

/* ************************************************ */
	/* ********** Navigation über Menüleisten ********* */
	/* ************************************************ */
	/* ********** Menüleiste ************************** */
.menuleiste {
	height: 24px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 10px;
}

/* ************************************************ */
	/* ********** Pulldown-Menü in einer Menüleiste *** */
.pulldownMenu {
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #D0DCFF;
	color: #333333;
}

/* ************************************************ */
	/* ********** Navigation über Treeviews *********** */
	/* ************************************************ */
	/* ********** Treeview-Bereich ******************** */
.treeviewSelected {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #D2072D;
}

.treeviewSelected a:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #D2072D;
	text-decoration: none;
}

.treeviewSelected a:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #D2072D;
	text-decoration: none;
}

.treeviewSelected a:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #D2072D;
	text-decoration: underline;
}

.treeviewSelected a:active {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #D2072D;
	text-decoration: none;
}

.treeview {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #333333;
}

.treeview a:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #A0B0FF;
	text-decoration: none;
}

.treeview a:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #A0B0FF;
	text-decoration: none;
}

.treeview a:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #D2072D;
	text-decoration: underline;
}

.treeview a:active {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #A0B0FF;
	text-decoration: none;
}

/* ************************************************ */
	/* ********** Icon im Treeview ******************** */
.treeviewIcon {
	border: 0px;
	width: 21px;
	height: 18px;
}