<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC '-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN' 'http://java.sun.com/dtd/web-app_2_3.dtd'>

<web-app>

	<servlet>
		<servlet-name>CewolfRenderer</servlet-name>
		<display-name>cewolf</display-name>
		<description>Chart Enabling Web Object Framework</description>
		<servlet-class>de.laures.cewolf.CewolfRenderer</servlet-class>
		<init-param>
			<param-name>storage</param-name>
			<param-value>
				de.laures.cewolf.storage.TransientSessionStorage
			</param-value>
		</init-param>
		<init-param>
			<param-name>overliburl</param-name>
			<param-value>static/overlib.js</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>false</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>action</servlet-name>
		<servlet-class>
			org.apache.struts.action.ActionServlet
		</servlet-class>
		<init-param>
			<param-name>application</param-name>
			<param-value>ApplicationResources</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>1</param-value>
		</init-param>
		<init-param>
			<param-name>detail</param-name>
			<param-value>1</param-value>
		</init-param>
		<init-param>
			<param-name>application</param-name>
			<param-value>
				cx.ath.janiwe.steamparser.ApplicationResources
			</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>GlobalExceptionLogDisplayer</servlet-name>
		<display-name>exceptionlogdisplay</display-name>
		<description>
			Displays the collected Logs of the GlobalExceptionLogger
		</description>
		<servlet-class>
			de.dengot.steamparser.servlets.GlobalExceptionLogDisplayer
		</servlet-class>
		<load-on-startup>3</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>SteamUdpLogDisplayer</servlet-name>
		<display-name>steamlogdisplay</display-name>
		<description>Steam UDP Log Displayer</description>
		<servlet-class>
			de.dengot.steamparser.servlets.SteamUdpLogDisplayer
		</servlet-class>
		<load-on-startup>4</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>AutorunServlet</servlet-name>
		<display-name>AutorunServlet</display-name>
		<description>
			Global Autorun Servlet: Put all Method calls that should
			start with WebApp-Boot in Constructor of this Servlet
		</description>
		<servlet-class>
			de.dengot.steamparser.servlets.AutorunServlet
		</servlet-class>
		<load-on-startup>5</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>CewolfRenderer</servlet-name>
		<url-pattern>/cewolf/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>SteamUdpLogDisplayer</servlet-name>
		<url-pattern>/displaySteamLog</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>GlobalExceptionLogDisplayer</servlet-name>
		<url-pattern>/displayGlobalExceptionLog</url-pattern>
	</servlet-mapping>

	<taglib>
		<taglib-uri>gui-taglib.jar</taglib-uri>
		<taglib-location>/WEB-INF/lib/gui-taglib.jar</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>struts.jar</taglib-uri>
		<taglib-location>/WEB-INF/lib/struts.jar</taglib-location>
	</taglib>
</web-app>